*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: 1px solid red;
}

:root{
    --white: #f3f3f3;
    --blue: #2185d5;
    --dark1: #2d4059;
    --dark2: #3a4750;
    --hover-button: #7ebbec;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--dark1);
}

.header{
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.6rem;
    letter-spacing: 2px;
    width: 100%;
    min-height: 8vh;
    display: flex;
    font-weight: 400px;
    align-items: center;
    justify-content: space-evenly;
}

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.add-book-container{
    border-radius: 10px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: #fff;
    transition: 0.5s ease;
    box-shadow: 5px 5px 35px 5px rgba(0,0,0,0.2);
    transform: scale(0);
    position: absolute;
}


.add-book-hero{
    display:grid;
    grid-template-columns: repeat(1,1fr) repeat(1, 2fr) repeat(1, 1fr);
    padding: 1rem;
}

.exit-book{
    font-size: 2rem;
    color: black;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor:pointer;
    transition:all .15s ease-in-out;
    border: none;
    outline: none;
    grid-column: 3 / 4;
    align-self: center;
    justify-self: center;
}

.exit-book:active{
    transform: translateY(3px);
}

.book-title{
    color: var(--blue);
    font-size: 2.2rem;
    font-weight: 100;
    padding: 1rem;
    grid-column: 2 / 3;
}

.add-book{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.add-book input[type="text"], .add-book input[type="number"]{
    display: block;
    width: 100%;
    background: #f7f7f7;
    font-size: 1.3rem;
    outline: 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.button-submit{
    background-color: var(--blue);
    width: 35%;
    border-radius: 5px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    color: var(--white);
    transition:all .15s ease-in-out;
}

.button-submit:active{
    transform: translateY(2px);
}

.add-book-button{
    background-color: var(--blue);
    border-radius: 50%;
    cursor:pointer;
    border: none;
    outline: none;
    font-size: 1.8rem;
    width:50px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: var(--white);
}

.add-book-button:hover{
    background-color: var(--hover-button);

}


#book-result{
    color: red;
    display: flex;
    min-height: 100%;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;  
    padding: 0.5rem;

}

.result-container{
    background-color: #2185d5;
    height: 25%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

#book-result ul{
    color: red;
    font: bold;
}

.delete-book{
    height: 100%;
    width: 50%;
    cursor: pointer;
}

.read-book{
    height: 100%;
    width: 50%;
    cursor: pointer;
}